.flex {
  display: flex;
}

.App {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 100%;
  background-color: white;
  margin: 0;
  padding: 2rem;
  border-radius: 0.3rem;
}

#text {
  text-align: center;
  line-height: 140%;
}

#author {
  position: sticky;
  left: 100%;
  padding: 1rem;
}

#box-footer {
  width: 100%;
  height: 35px;
  justify-content: space-between;
}
.icon {
  height: 39px;
  width: 38px;
  margin: 0;
  padding: 0;
  color: brown;
}

#new-quote {
  background-color: brown;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: .3rem;
}